<!doctype html>
<html ng-app="addhost">
<head>
<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>
<body ng-controller="host_list">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ url_for('dashboard') }}">Docker Monitor</a>
        </div>
      </div> 
    </nav>
    <div class="container body-content">
        <form action="" method="post">
          <div class="form-group">
            <label for="exampleInputName">Enter hostname</label>
            <input type="text" class="form-control" id="exampleInputName" name="hostname" aria-describedby="name" placeholder="my hostname" value="{{ request.form.hostname }}" required>
          </div>
         <div class="form-group">
            <label for="exampleInputHost">Enter address ip:port </label>
            <input type="text" class="form-control" id="exampleInputHost" name="hostaddr" aria-describedby="host" placeholder="192.168.1.30:3333" value="{{ request.form.hostaddr }}" required>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form><br><br>
         <div id="progress" class="show">
          <div class="cssload-thecube">
              <div class="cssload-cube cssload-c1"></div>
              <div class="cssload-cube cssload-c2"></div>
              <div class="cssload-cube cssload-c4"></div>
              <div class="cssload-cube cssload-c3"></div>
           </div>
        </div>
        <table id="hl" class="table hide" border=1>
          <thead>
            <tr  style='background:black; color: white'>
              <th>Host Name</th>
              <th>Host Address</th>
              <th>Delete Host</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in data">
              <td>[[ item.host_name ]]</td>
              <td>[[ item.host_addr ]]</td>
              <td><a href="[[ item.link ]]">Delete host</a></td>
            </tr>
          </tbody>
        </table>
        {% if error %}
            <p style="color: red;"><b>{{ error }}</b></p>
        {% endif %}
        <footer>
            <p>&copy; 2019 - Alex Zubov</p>
        </footer>
    </div>
</body>
<script src="/static/scripts/angular.min.js"></script>
<script src="/static/scripts/jquery-1.10.2.js"></script>
<script src="/static/scripts/bootstrap.js"></script>
<script src="/static/scripts/respond.js"></script>
<script type="text/javascript"> 
    var app = angular.module('addhost', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
    });

    let element = document.getElementById('hl')
    let prog = document.getElementById('progress')

    app.controller('host_list', function ($scope, $http) {
      $http.get("/get_all_list").then(function(res,status,xhr) {
        element.className = 'table table-inverse'
        prog.className = 'hide'
        item = []
        for (let host_obj of res.data) {
              item.push({'host_name': host_obj.host_name, 
                'host_addr': host_obj.addr,
                'link': "{{ url_for('delete_host') }}" + "?host_name=" + host_obj.host_name })
        }
        $scope.data = item
      });
    });

</script>
