{% extends "layout.html" %}
{% block content %}
<div ng-controller="host_list">
    <table id="hl" class="table table-bordered table-striped" ng-show="list_of_hosts">
         <thead class="thead-dark">
          <tr>
            <th scope="col">Host Name</th>
            <th scope="col">Host Address</th>
            <th scope="col">Conect Status</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in data">
               <td><a href="[[ item.link ]]">[[ item.host_name ]]</a></td>
               <td>[[ item.host_addr   ]]</td>
               <td style="color:[[ item.status_color ]]">[[ item.host_status ]]</td>
            </tr>
        </tbody>
    </table>
    <div id="progress" ng-show="progress">
      <div class="cssload-thecube">
          <div class="cssload-cube cssload-c1"></div>
          <div class="cssload-cube cssload-c2"></div>
          <div class="cssload-cube cssload-c4"></div>
          <div class="cssload-cube cssload-c3"></div>
       </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript"> 
    var app = angular.module('docker_monitor', [], function($interpolateProvider) {
      $interpolateProvider.startSymbol('[[');
      $interpolateProvider.endSymbol(']]');
    });

    app.controller('host_list', function ($scope, $http) {
      $scope.list_of_hosts = false
      $scope.progress      = true
      
      $http.get("/get_host_list").then(function(res, status, xhr) {
        $scope.list_of_hosts = true
        $scope.progress      = false

        item = []
        
        for (let host_obj of res.data) {
              if (host_obj.status){
                    status = 'Connected'
                    status_color = "green"
              }else{
                    status = 'Disconnected'
                    status_color = "red"
              }
              item.push({
                'host_name': host_obj.host_name,
                'host_addr': host_obj.addr,
                'host_status': status,
                'status_color': status_color,
                'link': "{{ url_for('index') }}" + "?host_addr=" + host_obj.addr
                })
        }
        $scope.data = item
      });
    });
</script>
{% endblock %}

